page-login {

  .login-background{
      background-image : url("../assets/images/loginPage.jpg");
  }
  .login-content {

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .logo {
      box-shadow: 0 0 30px white;
      border-radius: 10px;
      background: white;
      padding: 15px;
    }

    .login-box {
      background: white;
      opacity : 0.9;
      border-radius: 30px;
      position: absolute;
      bottom:  60px;
      left : 5%;
      right :5%;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 10px !important;
         padding-left: 10px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
     .signup-col {
       border-radius: 30px;
       position: absolute;
       bottom:  5px;
       left : 5%;
       right : 5%;
       width : auto;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #f474a2;
       border: 1px solid #ffffff;
       border-radius: 30px;
     }

     .submit-btn:hover {
       background: #4f4f4f;
     }

     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
     .border-bottom{
       background: transparent;
       border-bottom: 1px solid #999;
     }
  }

}
