# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/coverage
/dist
/hooks
/tmp
/temp
/platforms
/www

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
.idea/
.sass-cache/
.tmp/
.versions/
connect.lock/
plugins/
plugins/android.json
plugins/ios.json
typings/
$RECYCLE.BIN/

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
