page-synthesis {

    .synthesis-content{
        background-image : url("../assets/images/loginPage.jpg");
    }

    .validate-btn {
        background: #f474a2;
        border: 1px solid #ffffff;
        border-radius: 30px;
    }

    .validate-btn:hover {
        background: #80b819;
    }

    .warnings{
      .card-header{
        background-color: orange;
    opacity: 0.8;

      }
      div{
        padding: 10px;
      }
    }
}
