<!--
  Generated template for the SynthesisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <img src="assets/images/logo-babymoov.jpg" style="height : 50px" />
  <ion-title>{{ synthesis == null ? '' : synthesis.title }}</ion-title>
</ion-header>


<ion-content padding class="synthesis-content">

  <ion-card *ngFor="let item of synthesis.alerts" class="alerts">
    <span>
      <ion-icon name="alert"></ion-icon>
      {{ item }}
    </span>
  </ion-card>

  <ion-card *ngFor="let item of synthesis.warnings" class="warnings">
  <ion-card-header style="white-space:normal;">
    <ion-icon name="warning"></ion-icon>
    {{ item.title }}
  </ion-card-header>
    <span *ngFor="let msg of item.message">
      {{ msg }}
    </span>
  </ion-card>

  <ion-card *ngFor="let item of synthesis.notes" class="notes">
    <span>
      <ion-icon name="information-circle"></ion-icon>
      {{ item }}
    </span>
  </ion-card>

  <ion-card *ngFor="let item of synthesis.advices" class="advices">
    <span>
      <ion-icon name="bulb"></ion-icon>
      {{ item }}
    </span>
  </ion-card>

  <ion-row *ngIf="synthesis">
    <ion-col class="validate-col">
      <button ion-button class="validate-btn" full type="submit" (click)="shareSynthesis()">Partager</button>
    </ion-col>
  </ion-row>

</ion-content>
