<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Produits ' + currentDistributor }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab (click)="scanProduct($event)">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.found ? 'checkmark-circle' : ''" item-left></ion-icon>
      <ion-img [width]="80" [height]="80" [src]="item.photo"></ion-img>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}} €
      </div>
    </button>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
