<ion-header>
  <img src="assets/images/logo-babymoov.jpg" style="height : 50px" />
  <ion-title>{{ selectedItem == null ? 'Produits' : selectedItem.title }}</ion-title>
</ion-header>

<ion-content class="products-content">
  <ion-fab *ngIf="selectedItem" top right edge>

    <button ion-fab mini>
      <ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab (click)="scanProduct($event)">
      <ion-icon name="camera"></ion-icon>
    </button>

      <button ion-fab (click)="searchProduct($event)">
        <ion-icon name="create"></ion-icon>
      </button>
  </ion-fab-list>

  </ion-fab>

  <ion-card *ngFor="let item of items" [ngClass]="{'product-done' : item.found == true , 'product-undone' : item.found == false }" (click)="itemTapped($event, item)">
    <ion-list>
        <div style="float : left; margin-top : 20px;margin-right : 5px;margin-left : 5px;">
          <img src={{item.photo}} style="width : 60px" />
        </div>
        {{item.description}}
        <div style="padding-left:5px">
          <ion-grid style="display : block">
            <ion-row>
              <ion-col>
          <div class="item-note">
            <span class="little" *ngIf="item.oldQty !=null">
              {{item.recommendedPrice}} €
            </span>
          <span class="little" *ngIf="item.oldQty ==null">
              &nbsp;
            </span>
        </div>
        <div class="item-note">
          <span class="little" *ngIf="item.oldQty !=null">
                 {{'Dernière quantité: ' +item.oldQty}}
          </span>

          <span class="little" *ngIf="item.oldQty ==null">
                &nbsp;
              </span>
        </div>

        </ion-col>
        <ion-col style="text-align : right">
          <div class="item-note">
            <span  *ngIf="item.actualPrice !=null">
              <span [ngClass]="{'red' : (item.recommendedPriceP < item.actualPrice || item.recommendedPriceM > item.actualPrice) }"> {{item.actualPrice}} €</span>
            </span>
          </div>
          <div class="item-note">
            <span  *ngIf="item.quantity !=null">
              <span [ngClass]="{'red' : item.oldQty == item.quantity && item.quantity == 0 }">{{item.quantity}}</span>
            </span>
          </div>
          </ion-col>

          </ion-row>
        </ion-grid>
        <rating [(ngModel)]="item.starRating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
          starIconName="star" nullable="false"> </rating>
      </div>
    </ion-list>
  </ion-card>

  <ion-row *ngIf="selectedItem">
    <ion-col class="validate-col">
      <button ion-button class="validate-btn" full type="submit" (click)="validate()">Terminer</button>
    </ion-col>
  </ion-row>
</ion-content>
