<ion-header>
  <img src="assets/images/logo-babymoov.jpg" style="height : 50px" />
  <ion-title>{{ selectedItem == null ? 'Produits' : selectedItem.title }}</ion-title>
</ion-header>

<ion-content class="products-content">
  <ion-fab *ngIf="selectedItem" top right edge>
    <button ion-fab (click)="scanProduct($event)">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let item of items" [ngClass]="{'product-done' : item.found == true , 'product-undone' : item.found == false }" (click)="itemTapped($event, item)">
    <ion-list>
        <div style="float : left; margin-top : 20px;margin-right : 5px;margin-left : 5px;"><img src={{item.photo}} style="width : 60px" /></div>
        {{item.description}}
        <div style="padding-left:5px">
          <div class="item-note">
            <span class="little" *ngIf="item.oldQty !=null">
              Prix recommandé:<span [ngClass]="{'red' : (item.recommendedPriceP < item.actualPrice || item.recommendedPriceM > item.actualPrice) }"> {{item.recommendedPrice}} €</span>
            </span>
            <span class="little" *ngIf="item.oldQty ==null">
              &nbsp;
            </span>
          </div>
          <div class="item-note">
              <span class="little" *ngIf="item.oldQty !=null">
                Dernière quantité: <span [ngClass]="{'red' : item.oldQty == item.quantity && item.quantity == 0 }">{{item.oldQty}}</span>
              </span>
              <span class="little" *ngIf="item.oldQty ==null">
                &nbsp;
              </span>
          </div>

          <rating [(ngModel)]="item.starRating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false"> </rating>
        </div>
    </ion-list>
  </ion-card>
</ion-content>
